# Project exclude paths
/ex00/target/
/jex00/target/
/ex00/.settings/
/jex00/.settings/
/.metadata/
/jex01/.settings/

target
build
bin
*~
*.log
.classpath
.project
*.ipr
*.iws
*.iml
.settings
.git
.svn
*.class
*.bak

/jex01/.settings/
