<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="kr.btsoft.mapper.TestMapper">

    <select id="selectNow" resultType="String">
        SELECT sysdate from DUAL
    </select>

    <insert id="insertSignup" parameterType="kr.btsoft.dto.TestDto">
        insert into USER_INFO values (INDEX_NO.nextval, #{officeNum}, #{userId}, #{userPw}, #{userName}, #{userBirth}, #{userAddr}, #{userHp}, #{officeTel}, sysdate, sysdate, #{grade}, #{depart}, #{enabled})
    </insert>

</mapper>